{% extends 'shared/_layout.html' %}

{% block title %} Send Image {% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-md-5 mx-auto">
            <div class="card mt-5">
                <div class="card-header">
                    <h4 class="text-center">Save Image</h4>
                </div>
                <div class="card-body">
                    <form id="form">
                        <div class="input-group col-5">
                            <input type="file" accept="image/png" name="image" class="form-control">
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary my-4" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-4">
        <div class="col-md-5 mx-auto">
            <ul class="list-group" id="list-group">
                <li class="list-group-item" id="url">URL: </li>
                <li class="list-group-item" id="err" >Error: </li>
                <li class="list-group-item" id="msg" >Message: </li>
            </ul>
        </div>
    </div>

    <script>
        const $list_group = document.getElementById("list-group")
        $list_group.style.display = "none"
        const $form = document.getElementById("form")
        $form.addEventListener('submit', async (e) => {
            e.preventDefault()
            const data = new FormData($form)
            const request = await fetch("/image", {
                method: "post",
                body: data,
            })
            const response = await request.json()
            if(!response.error){
                $list_group.style.display = "block"
                document.getElementById("url").textContent += response.data
                document.getElementById("err").textContent += response.error
                document.getElementById("msg").textContent += response.message
            }
        })
    </script>

{% endblock %}
