{% extends 'shared/_layout.html' %}

{% block title %} Home {% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">Application to store images made in Go</h1>

            <img src="/public/image/gofher.png" height="350px" width="350px" class="mx-auto d-block">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate deleniti dicta dolorum eaque eius error explicabo in molestiae mollitia nam, obcaecati officia possimus qui quidem ratione recusandae sint totam, velit.
            </p>
        </div>
    </div>
{% endblock %}